.ma-box {
	width: 100%;
	background: #fff;
}

.ma-box-system h4,.ma-box h4{
	padding-bottom: 20px;
}

.ma-head {
	background-image: url("../images/head-01.jpg");
    background-repeat: no-repeat;   
    background-size: 100% 100%;  
    max-height: 1024px;
    min-height: 768px;
    height: calc(100vh - 100px); 
    position: relative;  
}

.ma-head a{
	margin-left: -30px;
    position: absolute;
    left: 50%;
    bottom: 5%;
}

/*全新数字世界出发点*/
.ma-new-world {
	text-align: center;
    box-sizing: border-box;
    padding: 60px 10px;
}

.ma-new-world h4{
	font-family: FZLTCHJW--GB1-0;
	font-size: 64px;
	color: #E86855;
	letter-spacing: 0;
	line-height: 83px;
}

.ma-new-world p{
	font-family: FZLTHJW--GB1-0;
	font-size: 24px;
	color: #1D1D1F;
	letter-spacing: 0;
	text-align: center;
	line-height: 38px;
}

.ma-new-world-view {
	width: 100%;
	height: 900px;
	display: flex;
	align-items: center;
}

.ma-new-world-view .ma-left,.ma-right{
	flex: 1;
	position: relative;
	height: 100%;
}

.ma-new-world-view .ma-left-content {
	left: 50%;
    position: absolute;
    height: 300px;
    width: 300px;
    text-align: left;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.ma-new-world-view .ma-left span{
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-new-world-view .ma-left-content img {
	width: 100%;
}

.ma-new-world-click {
	position: absolute;
	width: 150px;
	height: 150px;
	bottom: 0;
	cursor: pointer;
}

.ma-new-world-view h5 {
	font-family: FZLTCHJW--GB1-0;
	font-size: 40px;
	color: #E86855;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-new-world-view .ma-right img {
	left: 0;
    position: absolute;
    height: 700px;
    top: 150px;
}

/*华容网格*/
.ma-huarong-grid {
	width: 100%;
	height: 900px;
	display: flex;
}

.ma-huarong-grid .ma-huarong-grid-left,.ma-huarong-grid-right{
	flex: 1;
	position: relative;
	height: 100%;
}

.ma-huarong-grid-left img{
	position: absolute;
    width: 360px;
    top: 70px;
    right: 150px;
}

.ma-huarong-grid h5 {
	font-family: FZLTCHJW--GB1-0;
	font-size: 40px;
	color: #E86855;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-huarong-grid-content {
	left: 0;
    position: absolute;
    height: 300px;
    width: 300px;
    text-align: left;
    top: 30%;
}

.ma-huarong-grid-right span{
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

/*原子组件/图标*/
.ma-template .ma-left-content{
	top: 150px;
    margin-top: 0px;
    height: 600px; 
}

.ma-template .ma-new-world-view .ma-right img{
	height: 760px;
    top: 120px;
}

/*鹅卵石交互体系*/
.ma-box-system {
	padding-top: 180px;
	padding-bottom: 100px;
	width: 100%;
	background-image: linear-gradient(180deg, #F5F5F7 0%, #F5F5F7 99%);
}

.ma-system h4{
	font-family: FZLTCHJW--GB1-0;
	font-size: 64px;
	color: #EE9228;
	letter-spacing: 0;
	line-height: 83px;
}

.ma-system p{
	font-family: FZLTHJW--GB1-0;
	font-size: 24px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 38px;
}

.ma-system .ma-system-view {
	padding: 60px 0 30px 0;
	width: 100%;
	display: flex;
}

.ma-system-view-left,.ma-system-view-right {
	width: 50%;
	box-sizing: border-box;
}

.ma-system-view-left {
	padding-right: 10px;
}

.ma-system-view-right {
	padding-left: 10px;
}

.ma-system-content {
	width: 100%;
	height: 1000px;
	background: #1C1C1C;
	background-image: linear-gradient(180deg, rgba(0,0,0,0.50) 0%, rgba(255,255,255,0.50) 100%);
	border-radius: 32px;
	border-radius: 32px;
	overflow: hidden;
	padding: 40px;
    box-sizing: border-box;
    position: relative;
}

.ma-system-content-right{
	opacity: 0.75;
	background-image: linear-gradient(180deg, #0D0D0D 0%, #343434 100%);
}

.ma-system-content h5 {
	font-family: FZLTCHJW--GB1-0;
	font-size: 40px;
	color: #EE9228;
	letter-spacing: 0;
	line-height: 64px;
	margin-bottom: 20px;
}

.ma-system-content span {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-system-img-left {
	position: absolute;
	width: 300px;
	left: 101px;
    bottom: 80px;
}

.ma-system-img-right {
	position: absolute;
	width: 100%;
	height: 750px;
	left: 0px;
    bottom: 0px;
}

/*运行后台*/
.ma-running {
	display: flex;
	align-items: center;
	height: 600px;
}

.ma-running h5 {
	font-family: FZLTCHJW--GB1-0;
	font-size: 40px;
	color: #EE9228;
	letter-spacing: 0;
	line-height: 64px;
	margin-bottom: 20px;
}

.ma-running p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-running img {
	position: absolute;
	width: 240px;
	height: 526px;
	top: 37px;
	right: 172px;
}

/*超级卡包*/
.ma-super {
	height: 840px;
}

.ma-super h5 {
	font-family: FZLTCHJW--GB1-0;
	font-size: 40px;
	color: #EE9228;
	letter-spacing: 0;
	line-height: 64px;
	margin-bottom: 20px;
}

.ma-super p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-super img {
	width: 240px;
	height: 526px;
	margin-left: 60px;
}

.ma-super-view {
	margin-top: 60px;
}

/*镜头包*/
.ma-lens {
	height: 800px;
	position: relative;
}

.ma-lens h5 {
	font-family: FZLTCHJW--GB1-0;
	font-size: 40px;
	color: #EE9228;
	letter-spacing: 0;
	line-height: 64px;
	margin-bottom: 20px;
}

.ma-lens p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-lens-left {
	width: 500px;
	height: 600px;
}

.ma-lens-right {
	position: absolute;
	width: 370px;
	height: 560px;
	right: 70px;
	bottom: 0px;
}

/*时间线设计体系*/
.ma-box-time {
	background: #fff;
	width: 100%;
	padding-top: 160px;
	padding-bottom: 100px;
}

.ma-time-head {
	padding-bottom: 30px;
}

.ma-time-head h3{
	font-family: FZLTZCHJW--GB1-0;
	font-size: 64px;
	color: #2A89FF;
	letter-spacing: 0;
	line-height: 83px;
	margin-bottom: 20px;
}

.ma-time-head p{
	ffont-family: FZLTHJW--GB1-0;
	font-size: 24px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 38px;
}

/*行为图标*/
.ma-icon {
	height: 786px;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #F5F5F7 100%)!important;
	border-radius: 32px;
	border-radius: 32px;
}

.ma-icon h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #2A89FF;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-icon p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-icon .ma-icon-img-run {
	position: absolute;
	width: 370px;
	height: 566px;
	bottom: 0px;
	left: 50%;
	margin-left: -185px;
}

.ma-icon .ma-icon-img {
	position: absolute;
	width: 738px;
	height: 362px;
	bottom: 140px;
	left: 50%;
	margin-left: -369px;
}

.ma-icon-view {
	position: absolute;
	height: 546px;
	width: 820px;
	bottom: 0px;
	left: 50%;
	margin-left: -410px;
}

.ma-icon-img-left,.ma-icon-img-right {
	position: absolute;
	width: 320px;
	height: 546px;
	bottom: 0px;
}

.ma-icon-img-left{
	left: 0px;
}

.ma-icon-img-right{
	right: 0px;
}

/*原子通知*/
.ma-notice {
	height: 600px;
	background-image: linear-gradient(180deg, #F5F5F7 0%, #FFFFFF 100%)!important;
	display: flex;
	align-items: center;
}

.ma-notice h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #2A89FF;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-notice p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-notice img {
	position: absolute;
	width: 420px;
	height: 520px;
	bottom: 40px;
	right: 70px;
}

/*天气*/
.ma-day {
	height: 850px;
	display: flex;
	align-items: center;
}

.ma-day h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #2A89FF;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-day p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-day img {
	position: absolute;
	width: 340px;
	height: 750px;
	top: 40px;
	right: 70px;
}

/*原景视窗*/
.ma-window-head {
	padding-bottom: 30px;
}

.ma-window-head h3{
	font-family: FZLTZCHJW--GB1-0;
	font-size: 64px;
	color: #549ABD;
	letter-spacing: 0;
	line-height: 83px;
	margin-bottom: 20px;
}

.ma-window-head p{
	ffont-family: FZLTHJW--GB1-0;
	font-size: 24px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 38px;
}

.ma-window-content {
	height: 840px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F5F5F7 100%)!important;
    display: flex;
    align-items: center;
}

.ma-window-content img {
	width: 720px;
    height: 768px;
    bottom: 40px;
    right: 70px;
    margin-right: 20px;
}

/*天空视窗*/
.ma-fly {
	height: 786px;
	background-image: linear-gradient(180deg, #F5F5F7 0%, #FFFFFF 100%)!important;
	border-radius: 32px;
	border-radius: 32px;
	overflow: hidden;
}

.ma-fly h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #549ABD;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-fly p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-fly-view {
	position: absolute;
	height: 546px;
	width: 820px;
	bottom: 0px;
	left: 50%;
	margin-left: -410px;
}

.ma-fly-img-left,.ma-fly-img-right {
	position: absolute;
	width: 320px;
	height: 546px;
	bottom: 0px;
}

.ma-fly-img-left{
	left: 0px;
}

.ma-fly-img-right{
	right: 0px;
}

/*时光视窗*/
.ma-weather {
	height: 786px;
	display: flex;
	align-items: center;
	overflow: hidden;
	background-image: url("../images/demo-13.png")!important;
    background-repeat: no-repeat!important;   
    background-size: 100% 100%!important;
}

.ma-weather h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #549ABD;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-weather p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-weather img {
	position: absolute;
	width: 370px;
	height: 686px;
	bottom: 0px;
	right: 70px;
}

/*行为壁纸*/
.ma-behavior {
	height: 980px;
	background: #F5F5F7!important;
	overflow: hidden;
}

.ma-behavior h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #549ABD;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-behavior p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-behavior-step {
	position: absolute;
	width: 900px;
	height: 500px;
}

.ma-behavior-phone {
	position: absolute;
	width: 270px;
	height: 592px;
	top: 260px;
	left: 50%;
	margin-left: -185px;
}

.ma-behavior-tags {
	position: absolute;
	width: 560px;
	height: 40px;
	left: 50%;
	margin-left: -280px;
	bottom: 40px;
}

.ma-behavior-tags ul {
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.ma-behavior-tags ul li {
	display: inline-block;
	width: 80px;
	height: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
	opacity: 0.3;
	font-family: FZLTZHJW--GB1-0;
	font-size: 22px;
	color: #333;
	letter-spacing: 0;
	text-align: center;
	line-height: 35px;
	position: relative;
}

.ma-behavior-tags ul li.active{
	opacity: 1;
}

.ma-behavior-tags ul li.active:before{
	position: absolute;
	content: '';
	width: 44px;
	height: 4px;
	background: #333;
	bottom: 0px;
}



/*变形器*/
.ma-deformation {
	height: 930px;
	background-image: linear-gradient(180deg, #F5F5F7 0%, #FFFFFF 100%)!important;
	border-radius: 32px;
	border-radius: 32px;
	overflow: hidden;
}

.ma-deformation h5 {
	font-family: FZLTZCHJW--GB1-0;
	font-size: 40px;
	color: #549ABD;
	letter-spacing: 0;
	line-height: 64px;
}

.ma-deformation p {
	font-family: FZLTHJW--GB1-0;
	font-size: 20px;
	color: #1D1D1F;
	letter-spacing: 0;
	line-height: 32px;
}

.ma-deformation-view {
	position: absolute;
	height: 592px;
	width: 620px;
	bottom: 78px;
	left: 50%;
	margin-left: -300px;
}

.ma-deformation-img-left,.ma-deformation-img-right {
	position: absolute;
	width: 270px;
	height: 592px;
	bottom: 0px;
}

.ma-deformation-img-left{
	left: 0px;
}

.ma-deformation-img-right{
	right: 0px;
}

.ma-box-scroll {
	width: 100%;
}

.ma-new-world-title {
	opacity: 0;
}

.ma-new-text-title {
	opacity: 0;
}

.ma-huarong-title {
	opacity: 0;
}

.ma-system-title {
	opacity: 0;
}

.ma-template-title {
	opacity: 0;
}

.ma-system-view-title {
	opacity: 0;
}

.ma-running-title {
	opacity: 0;
}

.ma-super-title {
	opacity: 0;
}

.ma-lens-title {
	opacity: 0;
}

.ma-time-head {
	opacity: 0;
}

.ma-icon-title {
	opacity: 0;
}

.ma-icons-title {
	opacity: 0;
}

.ma-clock-title {
	opacity: 0;
}

.ma-notice-title {
	opacity: 0;
}

.ma-day-title {
	opacity: 0;
}

.ma-window-head {
	opacity: 0;
}

.ma-window-title {
	opacity: 0;
}

.ma-fly-title {
	opacity: 0;
}

.ma-weather-title {
	opacity: 0;
}

.ma-behavior-title {
	opacity: 0;
}

.ma-deformation-title {
	opacity: 0;
}

/*屏幕大于1024px*/
@media only screen and (min-width: 1024px) {
    /* For tablets: */
    .ma-box-concent {
    	width: 1024px;
    	margin: 0 auto;
    }

    .ma-box-block {
    	width: 1024px;
    	margin: 0 auto;
		background-image: linear-gradient(-44deg, #5DC4F6 0%, #5D9DF6 37%, #BE8AC7 54%, #FF6E6E 65%, #EE7A69 77%, #EEBB69 89%, #F9EBBE 100%);
		background: #FFFFFF;
		border-radius: 32px;
		border-radius: 32px;
		padding: 40px;
		box-sizing: border-box;
		position: relative;
		margin-bottom: 30px;
    }


    .title-run{
    	position: relative;
    	animation:mymove 1s ease-in-out forwards;
		-webkit-animation:mymove 1s ease-in-out forwards; /* Safari 和 Chrome */
    }
}

@keyframes mymove
{
from {top:100px;opacity: 0;}
to {top:0;opacity: 1;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {top:100px;opacity: 0;}
to {top:0;opacity: 1;}
}

