.ma-mask {
    width: 72px;
    height: 48px;
    line-height: 48px;
    position: fixed;
    right: 40px;
    bottom: 95px;
    z-index: 99999;
    display: none;
    background-color: rgba(87, 92, 102, .4);
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    cursor: pointer;
}

.ma-mask:before {
    content: "";
    font-family: footLogoIcon;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ma-box-scroll {
    width: 100%;
}

.ma-new-world-title {
    opacity: 0;
}

.ma-new-text-title {
    opacity: 0;
}

.ma-huarong-title {
    opacity: 0;
}

.ma-system-title {
    opacity: 0;
}

.ma-template-title {
    opacity: 0;
}

.ma-system-view-title {
    opacity: 0;
}

.ma-running-title {
    opacity: 0;
}

.ma-super-title {
    opacity: 0;
}

.ma-lens-title {
    opacity: 0;
}

.ma-icon-title {
    opacity: 0;
}

.ma-icons-title {
    opacity: 0;
}

.ma-clock-title {
    opacity: 0;
}

.ma-notice-title {
    opacity: 0;
}

.ma-day-title {
    opacity: 0;
}

.ma-window-title {
    opacity: 0;
}

.ma-fly-title {
    opacity: 0;
}

.ma-weather-title {
    opacity: 0;
}

.ma-behavior-title {
    opacity: 0;
}

.ma-deformation-title {
    opacity: 0;
}


.you-marvellous {
    opacity: 0;
}


.ma-new-world-text,
.ma-new-text,
.ma-huarong-text,
.ma-template-text,
.ma-system-text,
.ma-system-view-text,
.ma-running-text,
.ma-super-text,
.ma-lens-text,
.ma-icon-text,
.ma-time-head-title,
.ma-time-head-text,
.ma-icons-text,
.ma-clock-text,
.ma-notice-text,
.ma-day-text,
.ma-window-head-title,
.ma-window-head-text,
.ma-fly-text,
.ma-weather-text,
.ma-behavior-text,
.ma-deformation-text,
.ma-new-icon-title,
.ma-new-icon-text {
    opacity: 0;
}

.you-Visual-head-title,
.you-Visual-head-text,
.you-Visual-left-title,
.you-Visual-left-text,
.you-Visual-leftwo-title,
.you-Visual-leftwo-text,
.you-Memory-head-title,
.you-Memory-head-text,
.you-fuse-title,
.you-fuse-text,
.you-Memory-leftwo-title,
.you-Memory-leftwo-text,
.you-fluent-title,
.you-fluent-text,
.you-album-head-title,
.you-album-head-text,
.you-work-head-title,
.you-work-head-text,
.you-work-left-title,
.you-work-left-text,
.you-work-leftwo-title,
.you-work-leftwo-text,
.you-footer-lifethree-title,
.you-footer-lifethree-text,
.you-open-head-title,
.you-open-head-text,
.you-open-left-title,
.you-open-left-text,
.you-open-leftwo-title,
.you-open-leftwo-text,
.you-footer-end-title,
.you-footer-end-text,
.you-one-title,
.you-one-text,
.you-funtouch-left-title,
.you-funtouch-left-text
{
    opacity: 0;
}

/*屏幕大于1200px*/
@media only screen and (min-width: 1200px) {

    /* For tablets: */
    .ma-box-concent {
        width: 1200px;
        margin: 0 auto;
    }

    .ma-box-block {
        overflow: hidden;
        width: 1200px;
        margin: 0 auto;
        background-image: linear-gradient(-44deg, #5DC4F6 0%, #5D9DF6 37%, #BE8AC7 54%, #FF6E6E 65%, #EE7A69 77%, #EEBB69 89%, #F9EBBE 100%);
        background: #FFFFFF;
        border-radius: 32px;
        border-radius: 32px;
        padding: 40px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 30px;
    }

    /*大标题移动*/
    .title-move {
        position: relative;
        animation: mymove 1s ease-in-out forwards;
        -webkit-animation: titltmove 1s ease-in-out forwards;
        /* Safari 和 Chrome */
    }

    /*小标题移动*/
    .title-run {
        position: relative;
        animation: mymove 1s ease-in-out forwards;
        -webkit-animation: mymove 1s ease-in-out forwards;
        /* Safari 和 Chrome */
    }

    /*文字移动*/
    .text-run {
        position: relative;
        animation: textmove 1s ease-in-out forwards;
        -webkit-animation: textmove 1s ease-in-out forwards;
        /* Safari 和 Chrome */
    }
}

/*屏幕小于1200px*/
@media only screen and (max-width: 1200px) { 
    .ma-box-concent {
        width: 303px;
        margin: 0 auto;
    }
}

/*大标题移动*/
@keyframes titltmove {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes titltmove

/*Safari and Chrome*/
    {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/*小标题移动*/
@keyframes mymove {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes mymove

/*Safari and Chrome*/
    {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/*文字移动*/
@keyframes textmove {
    from {
        bottom: 100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes textmove

/*Safari and Chrome*/
    {
    from {
        bottom: 100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}