* {
    margin: 0;
    padding: 0;
}


.you-box {
    width: 100%;
    background: #fff;
    font-family: FZLTZCHJW--GB1-0;
    padding-top: 181px;
    padding-bottom: 261px;
}

.you-open-box {
    width: 100%;
    background: #F5F5F7;
    font-family: FZLTZCHJW--GB1-0;
    padding-top: 160px;
    padding-bottom: 139px;
}


.you-Memory-box,
.you-album-box,
.you-work-box {
    width: 100%;
    background: #F5F5F7;
    font-family: FZLTZCHJW--GB1-0;
    padding-top: 160px;
}


.you-Visual-box {
    width: 100%;
    background: #F5F5F7;
    font-family: FZLTZCHJW--GB1-0;
    padding-top: 189px;
}


.you-open-content,
.you-work-content,
.you-album-content,
.you-Memory-content,
.you-Visual-content {
    width: 1200px;
    margin: 0 auto;
}

.you-open-head h1,
.you-album-head h1 {
    font-size: 64px;
    color: #90DCC5;
    letter-spacing: 0;
    line-height: 83px;
    padding-bottom: 18px;
}

.you-open-head p,
.you-work-head p,
.you-album-head p,
.you-Memory-head p,
.you-Visual-head p {
    font-size: 24px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 38px;
}

.you-open-content-life {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding-left: 25px;
    margin-top: 64px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.you-open-content-life .you-open-left {
    width: 543px;
    height: 211px;
    padding-top: 178.5px;
}

.you-Memory-left .you-fuse {
    width: 387px;
    height: 211px;
    padding-top: 208px;
}

.you-open-content-life .you-open-left h2 {
    font-size: 40px;
    color: #90DCC5;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-open-content-life .you-open-left p {
    font-size: 20px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
    text-align: left;
}

.you-open-content-life .you-open-right img{
    width: 370px;
    height: 520px;
    margin-top: 80px;
    margin-right: 127.5px;
}

.you-open-content-vehicle {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding: 0 40px;
    margin-top: 30px;
    height: 656px;
}


.you-open-content-vehicle .you-open-leftwo h2 {
    font-size: 40px;
    color: #90DCC5;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-open-content-vehicle .you-open-leftwo p {
    font-size: 20px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
    text-align: left;
}

.you-open-content-vehicle .you-open-right {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.you-open-content-vehicle .you-open-right .you-open-repay img{
    width: 533px;
    height: 300px;

}

.you-open-content-vehicle .you-open-right .you-open-jovimg {
    line-height: 378px;
margin-right: -100px;
}

.you-open-content-vehicle .you-open-right .you-open-jovimg img{
    width: 102.9px;
    height: 120px;

}

.you-open-content-vehicle .you-open-right .you-open-jovi {
    margin-top: 100px;
}

.you-open-content-vehicle .you-open-right .you-open-jovi h3{
    font-size: 36px;
    color: #1D1D1F;
    letter-spacing: 0;
    text-align: center;
    line-height: 48px;
    padding-right: 73.1px;
}



.you-open-content-footer {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.you-open-content-footer .you-footer-life {
    width: 610px;
    height: 850px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 40px;
}

.you-open-content-footer h2 {
    font-size: 40px;
    color: #90DCC5;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-open-content-footer p,
.you-Memory-content-life p {
    font-size: 20px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
    text-align: left;
}


.you-open-content-footer .you-footer-government {
    width: 400px;
    height: 850px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 40px;
}



/** 便捷办公 **/
.you-work-head h1 {
    font-size: 64px;
    color: #7BADF0;
    letter-spacing: 0;
    line-height: 83px;
    padding-bottom: 18px;
}

.you-work-content-life {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding: 0 40px;
    margin-top: 64px;
    height: 822px;
}

.you-work-content-life .you-work-left,
.you-open-content-vehicle .you-open-leftwo,
.you-work-content-vehicle .you-work-leftwo,
.you-Visual-content-life .you-Visual-left,
.you-Visual-content-vehicle .you-Visual-leftwo {
    width: 1090px;
    height: 148px;
    padding-top: 40px;
}

.you-work-content-life .you-work-left h2,
.you-work-content-vehicle .you-work-leftwo h2 {
    font-size: 40px;
    color: #7BADF0;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-work-content-life .you-work-left p,
.you-work-content-vehicle .you-work-leftwo p,
.you-work-content-footer .you-footer-lifethree p,
.you-Memory-content-vehicle .you-Memory-leftwo p,
.you-Memory-content-vehicle .you-fuse p,
.you-Visual-content-life .you-Visual-left p,
.you-Visual-content-vehicle .you-Visual-leftwo p,
.you-funtouch .you-funtouch-left p {
    font-size: 20px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
    text-align: left;
}

.you-work-content-vehicle {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding: 0 40px;
    margin-top: 30px;
    height: 700px;
}


.you-work-content-footer {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding-left: 40px;
    margin-top: 30px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.you-work-content-footer .you-footer-lifethree{
    width: 543px;
    height: 179px;
    padding-top: 210.5px;
}

.you-work-content-footer .you-footer-lifethree h2,
.you-Memory-content-vehicle .you-Memory-leftwo h2 {
    font-size: 40px;
    color: #7BADF0;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-work-content-footer .you-footer-Printing img {
    width: 370px;
    height: 520px;
    margin-top: 80px;
    margin-right: 127.5px;
}

/**相册**/
.you-album-img {
    width: 100%;
    height: 850px;
    border-radius: 32px;
    margin-top: 64px;
}

.you-album-ul {
    display: flex;
    justify-content: space-between;
}

.you-album-ul li {
    background: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.you-album-ul li:nth-child(5) {
    margin: 0;
}

.you-album-ul .you-album-night {
    width: 460px;
    height: 850px;
    border-radius: 32px;
    border: 1px solid #7BADF0;
    padding: 0 20px;
}

.you-album-ul .you-album-portrait {
    width: 175px;
    height: 850px;
    border-radius: 32px;
    border: 1px solid #7BADF0;
}

.you-album-ul h3 {
    font-size: 32px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
}

.you-album-ul p,
.you-workbench {
    font-size: 20px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
}

/**内存管理**/
.you-Memory-head h1 {
    font-size: 64px;
    color: #6C00C4;
    letter-spacing: 0;
    line-height: 83px;
    padding-bottom: 18px;
}

.you-Memory-content-life, .you-Memory-content-vehicle {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 32px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.you-Memory-content-life .you-Memory-left {
    width: 100%;
    height: 598px;
    background: url(../images/demo-13.png) no-repeat;
    border-radius: 32px;
    padding: 40px;
}


.you-Memory-content-life h2 {
    font-size: 40px;
    color: #6C00C4;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-Memory-content-vehicle .you-Memory-right {
    width: 400px;
    height: 715px;
    background: #FFFFFF;
    border-radius: 32px;
    padding: 40px 40px 45px 40px;
}

.you-Memory-content-vehicle .you-Memory-right .you-fuse-img img {
    margin-top: 60px;
    width: 209px;
    height: 421px;
}

.you-Memory-content-vehicle .you-Memory-leftwomony {
    width: 610px;
    height: 760px;
    padding: 40px 40px 0 40px;
    background: #fff;
    border-radius: 32px;
}


.you-Memory-content-vehicle .you-Memory-leftwo h2,  .you-Memory-content-vehicle .you-fuse h2{
    font-size: 40px;
    color: #6C00C4;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-Memory-content-vehicle .you-Memory-rightwo {
    width: 390px;
    height: 566.9px;
    margin: 0 auto;
    margin-top: 45.1px;
    /* margin-right: 109px; */
}

.you-Memory-content-vehicle .you-Memory-rightwo img {
    width: 100%;
    height: 100%;
}

.you-Memory-content-footer {
    width: 100%;
    height: 530px;
    margin-top: 30px;
}

.you-Memory-content-footer .you-footer-heigh {
    width: 100%;
    height: 314px;
    background-image: linear-gradient(180deg, #2B2D2F 0%, #252729 100%);
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}

.you-Memory-content-footer .you-footer-heigh ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 86px;
}

.you-Memory-content-footer .you-footer-heigh ul li img {
    width: 180px;
    height: 90px;
    border: 1px solid red;
}

.you-Memory-content-footer .you-footer-heigh ul li p {
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.you-Memory-content-footer .you-footer-bottom {
    height: 148px;
    background: #000;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    padding: 34px 40px;

}

.you-Memory-content-footer .you-footer-bottom h2 {
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 64px;
}

.you-Memory-content-footer .you-footer-bottom p {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 20px;
}

/**视感**/
.you-Visual-head h1 {
    font-size: 64px;
    color: #AA0067;
    letter-spacing: 0;
    line-height: 83px;
    padding-bottom: 18px;
}

.you-Visual-content-life {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding-left: 40px;
    margin-top: 64px;
    height: 920px;
}

.you-Visual-content-life .you-Visual-left h2,
.you-Visual-content-vehicle .you-Visual-leftwo h2 {
    font-size: 40px;
    color: #AA0067;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
    padding-bottom: 20px;
}

.you-Visual-content-life .you-Visual-right {
    margin-top: 62px;
}

.you-Visual-content-life .you-Visual-right img {
    width: 270px;
    height: 593px;
}

.you-Visual-content-vehicle {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(179deg, #FFFFFF 63%, #FFFFFF 100%);
    border-radius: 32px;
    padding-left: 40px;
    margin-top: 30px;
    height: 700px;
}

.you-Visual-content-vehicle .you-Visual-right {
    margin-top: 25.5px;
}

.you-Visual-content-vehicle .you-Visual-right img {
    width: 932px;
    height: 477px;
}





/** 更多精彩 **/
.you-concent {
    width: 1200px;
    margin: 0 auto;
}

.you-head h1 {
    font-size: 64px;
    color: #000000;
    letter-spacing: 0;
    line-height: 83px;
    margin-bottom: 64px;
}

.you-one {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


.you-one-view {
    width: 100%;
    height: 360px;
    background-image: linear-gradient(144deg, #F5F9FF 0%, #FFFFFF 100%);
    box-shadow: 21px 21px 41px 0 rgba(208, 213, 234, 0.14);
    border-radius: 32px;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
}

.you-one-view {
    display: flex;
    align-items: center;
}


.you-one-li,
.you-two-li {
    height: 136px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.you-one-qrCode {
    width: 190px;
    height: 190px;
    border: 1px solid palevioletred;
    background: url(../images/qr_code.png);
    margin: 0 140px 0 34px;
}

.you-one-view p {
    font-size: 20px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
}

.you-one-view .you-one-title {
    font-size: 40px;
    color: #000000;
    letter-spacing: 0;
    line-height: 64px;
}

.you-two {
    width: 100%;
    height: 560px;
    border-radius: 32px;
    margin-top: 20px;
}

.you-funtouch {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: url(../images/fun10.jpg);
    background-size: 160% 180%;
    border-radius: 32px;
    height: 560px;
}

.you-funtouch .you-funtouch-left {
    float: left;
    padding-top: 167px;
    padding-left: 40px;
}

.you-funtouch .you-funtouch-left h2 {
    font-size: 40px;
    color: #000000;
    letter-spacing: 0;
    line-height: 64px;
    text-align: left;
}

.you-funtouch .you-funtouch-left h5 {
    font-size: 18px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 60px;
    text-align: left;
}

.you-three {
    margin-top: 68px;
    opacity: 0.8;
    font-size: 18px;
    color: #1D1D1F;
    letter-spacing: 0;
    line-height: 32px;
}

.you-work-right {
    margin-top: 42.2px;
}

.you-slide {
    margin-top: 66px;
}


.you-work-content-life .you-work-right .swiper-wrapper {
    width: 1010.4px;
    height: 475px;
}

.you-work-content-life .you-work-right .swiper-container1 {
    height: 550px;
}

.you-work-content-life .you-work-right img {
    width: 223.9px;
}

.you-work-content-life .you-work-right .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
}

.you-work-content-life .you-work-right .swiper-slide-active,
.swiper-slide-duplicate-active {
    transform: scale(1);
}

.you-work-content-vehicle .you-work-right .swiper-container2 {
    width: 594px;
    height: 400px;
}

.you-work-content-vehicle .you-work-right .swiper-slide img {
    width: 594px;
    height: 355px;
}

.swiper-container-horizontal>.swiper-scrollbar {
    width: 10%;
    left: 45%;
}

.you-open-content-vehicle .swiper-container-horizontal>.swiper-scrollbar {
    width: 10%;
    top: 190px;
    left: 0;
}


@media only screen and (max-width: 1300px) {

    /* For tablets: */
    .you-box-concent {
        width: 1024px;
    }
}